<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a nuestra empresa de tecnología</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 40px;
            text-align: center;
        }
        h1 {
            color: #333;
            font-size: 32px;
            margin-bottom: 20px;
        }
        p {
            color: #666;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <a href="/login"><button>Cerrar seion</button></a>
        <h1>Bienvenido a nuestra empresa de tecnología</h1>
        <p>Estamos dedicados a brindar soluciones tecnológicas innovadoras y de alta calidad.</p>
        <img src="https://3dlancer.net/upload/modelimages/276/12276/3D-model-a-computer-65335-xxl.jpg" alt="Tecnología" />
    </div>
</body>
</html>
